<div class="col-md-12">
    @if(!isLoggedIn){
      <div class="card card-container">
        <form
        name="loginForm"
        (ngSubmit) = "f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Username:</label>
            <div class="col-sm-5">
              <input type="text" name="username" class="form-control" [(ngModel)] ='form.username'
                     required #username="ngModel" [ngClass]="{'is-valid': f.submitted && username.errors}"/>
            </div>
          </div>


        @if (username.errors && f.submitted){
        <div class="alert alert-warning" role="alert">O campo de Username deve ser preenchido!</div>
        }
          <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Senha:</label>
            <div class="col-sm-5">
              <input type="password" name="password" class="form-control" [(ngModel)] ="form.password"
                     required #password="ngModel" minlength="6" [ngClass]="{'is-valid': f.submitted && password.errors}"/>
            </div>
          </div>

        @if (password.errors && f.submitted){
            <div>
                @if (password.errors['required']){
                    <div class="alert alert-warning" role="alert">O campo Senha deve ser preenchido!</div>
                }
                @if (password.errors['minlength']){
                    <div class="alert alert-warning" role="alert">O campo Senha deve ter pelo menos 6 caracteres!</div>
                }
            </div>
        }
        <div>
            <div>
                <button class="btn btn-primary">Login</button>
            </div>

            @if (f.submitted && isLoginFailed){
                <div class="alert alert-warning" role="alert">
                    Falha no login!<br/>{{errorMessage}}
                </div>
            }
        </div>
    </form>
      </div>
    }@else{
        <div class="alert alert-success" role="alert">Logado como {{user.username}}.</div>
    }

</div>
