.card-container.card {
  max-width: 400px !important;
  max-height: 450px !important;
  padding: 40px 40px;
}

.card {
  background-color: white;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0.3);
  -webkit-border-shadow: 0px 2px 2px rgba(0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0.3);
}
.downnav{
  padding-left: 10dvh;
}
