<div>
    @if(!isSucessful){
        <form
        name="registerForm"
        (ngSubmit) = "f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" [(ngModel)] ="form.username"required
        minlength="4" maxlength="20" #username="ngModel" [ngClass]="{'is-valid': f.submitted && username.errors}"/>
        @if (username.errors && f.submitted){
            <div>
                @if (username.errors['required']){
                    <div class="alert alert-warning" role="alert">Username is required</div>
                }
                @if (username.errors['minlength']){
                    <div class="alert alert-warning" role="alert">Username must at least 3 characters</div>
                }
                @if (username.errors['maxlenght']){
                    <div class="alert alert-warning" role="alert">Username must at most 20 characters</div>
                }
            </div>
        }
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" [(ngModel)] ="form.email"required email
        #email="ngModel" [ngClass]="{'is-valid': f.submitted && email.errors}"/>
        @if (email.errors && f.submitted){
            <div>
                @if (email.errors['required']){
                    <div class="alert alert-warning" role="alert">Email is required</div>
                }
                @if (email.errors['email']){
                    <div class="alert alert-warning" role="alert">Email must be a valid email</div>
                }
            </div>
        }<label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" [(ngModel)] ="form.password"required
        minlength="6" maxlength="40" #password="ngModel" [ngClass]="{'is-valid': f.submitted && password.errors}"/>
        @if (password.errors && f.submitted){
            <div>
                @if (password.errors['required']){
                    <div class="alert alert-warning" role="alert">Password is required</div>
                }
                @if (password.errors['minlength']){
                    <div class="alert alert-warning" role="alert">Password must at least 6 characters</div>
                }
                @if (password.errors['maxlenght']){
                    <div class="alert alert-warning" role="alert">Password must at most 20 characters</div>
                }
            </div>
        }
        <div>
            <div>
                <button class="btn btn-primary">Sign Up</button>
            </div>

            @if (f.submitted && isSignUpFailed){
                <div class="alert alert-warning" role="alert">
                    Signup failed!<br/>{{errorMessage}}
                </div>
            }
        </div>
    </div>
    </form>
    }@else{
        <div class="alert alert-sucess" role="alert">Your registration is sucessful!</div>
    }
</div>