<div class="principalBody">
    <a class="tittleStyle" href="#">MoneyFlow</a>
    <nav class="navStyle">
    <div routerLinkActive="active">
      @if(isLoggedIn){
          <a href="/user" routerLink="user">User</a> |
      }
      @if(!isLoggedIn){
        <a href="/register" routerLink="register">Sign Up</a> |
        <a href="/login" routerLink="login">Login</a>
      }@else {
        <a href="/profile" routerLink="profile">{{username}}</a> |
        <a href (click)="logout()">Logout</a>
  }
  </div>
  <img class="imageSpace">
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>

</div>