<div class="container text-center">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <a href="#" class="navbar-brand">MoneyFlow</a>
    <ul class="navbar-nav me-auto mb-5 mb-lg-10" routerLinkActive="active">
      @if(isLoggedIn){
        <li class="nav-item">
          <a href="/annotations"  routerLink="annotations">Your Annotations</a> |
        </li>
        <li class="nav-item">
          <a href="/create"  routerLink="create">Create a Annotation</a> |
        </li>
        <li class="nav-item">
          <a href="/profile"  routerLink="profile">Profile</a> |
        </li>
        <li class="nav-item">
          <a href (click) ="logout()">Logout</a>
        </li>
      }
      @if(!isLoggedIn)
      {
        <li class="nav-item">
          <a href="/login" routerLink="login">Login</a> |
        </li>
        <li class="nav-item">
          <a href="/register"  routerLink="register">Register</a>
        </li>
      }
    </ul>
  </div>
  </nav>

<router-outlet></router-outlet>
</div>