<div>
    @if(isLoggedIn)
    {
        <form
        name ="creationForm" 
        (ngSubmit) ="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" name="name" class="form-control" [(ngModel)] ="form.name"required
            #name="ngModel"[ngClass] ="{'is-valid': f.submitted && name.errors}"/>
            @if (name.errors && f.submitted)
            {
                <div class="alert alert-warning" role="alert">Name is required</div>
            }
            <label for="value" class="form-label">Value:</label>
            <input type="number" name="value" class="form-control" [(ngModel)] ="form.value"required
             #value="ngModel"[ngClass] ="{'is-valid': f.submitted && value.errors}"/>
            @if (value.errors && f.submitted)
            {
                <div class="alert alert-warning" role="alert">Value is required</div>
            }
            <label for="dateInput" class="form-label">Date:</label>
            <input type="datetime" name="dateInput" class="form-control" [(ngModel)] ="form.dateInput"required
            #dateInput="ngModel"/>
            <label for="description" class="form-label">Description:</label>
            <input type="text" name="description" class="form-control" [(ngModel)] ="form.description"required
            #description="ngModel"/>
            <div>
                <button class="btn btn-primary">Submit Annotation</button>
            </div>

            @if (f.submitted && isAnnotationCreationFailed){
                <div class="alert alert-warning" role="alert">
                    Failed to create a Annotation!<br/>{{errorMessage}}
                </div>
            }
        </div>
    </form>
    }@else {
        <div class="alert alert-warning"> You cannot make a Annotation without being logged!</div>
    }
</div>
